.DS_Store
__pycache__/
*.pyc

# Data files (large)
*.h5
master_simulation_log.csv
outputs/
data/
*.npz
*.json
*.json.bak
*.log
*.docx
data

#ymls
dragt.yml
configs/dipoleb/protons/*
configs/dipoleb/electrons/*

# Images (generated)
*.png

# Archive
Archive/

timestepplots.py
testrun.yml
*_corrupt.py
.claude/
batch_tmp/

# DELETE later  
flux_map_builder.py
launch*
trappedbands.py
Book2*
build_summary_results.py
timestepplots.py
literature*